


.App {
  text-align: center;
}


.Title {
  background-color: #4dc9ff;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Listing {
  background-color: #4dc9ff;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ItemListParent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}

.ItemList {
  width: 90%;
  background-color: white;
  min-height: 8vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  text-align: center;
  color: white;
}

.Item {
  margin: 5%;
  background-color:#4dc9ff;;
}

.Item img {
  width: 90%;
  margin-top: 5%;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
